$sm-0: 1px;
$sm-1: 2px;
$sm-2: 4px;
$sm-3: 6px;
$sm-4: 8px;
$sm-5: 10px;

$md-0: 12px;
$md-1: 14px;
$md-2: 16px;
$md-3: 18px;
$md-4: 20px;
$md-5: 22px;

$lg-0: 24px;
$lg-1: 28px;
$lg-2: 32px;
$lg-3: 40px;
$lg-4: 48px;
$lg-5: 56px;
