$font-size-xxs: 10px;
$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-md: 13px;
$font-size-lg: 14px;
$font-size-xl: 16px;

$font-size-header-xxs: $font-size-sm;
$font-size-header-xs: $font-size-md;
$font-size-header-sm: $font-size-lg;
$font-size-header-md: 16px;
$font-size-header-lg: 18px;
$font-size-header-xl: 20px;

$line-height-xxs: 14px;
$line-height-xs: 16px;
$line-height-sm: 18px;
$line-height-md: 19px;
$line-height-lg: 20px;
$line-height-xl: 24px;

$line-height-header-xxs: $line-height-sm;
$line-height-header-xs: $line-height-md;
$line-height-header-sm: $line-height-lg;
$line-height-header-md: 22px;
$line-height-header-lg: 24px;
$line-height-header-xl: 26px;

$letter-spacing-fixed-tight: -0.15px;
$letter-spacing-fixed-wide: 2px;
$letter-spacing-relative-tight: -1%;
$letter-spacing-relative-wide: -1.5%;
