// add component specific var here
$size-xs: 16px;
$size-sm: 24px;
$size-md: 32px;
$size-default: 40px;
$size-lg: 48px;
$size-xl: 56px;
$size-xxl: 64px;

$headband: 80px;

$placeholder-xs: 12px;
$placeholder-sm: 16px;
$placeholder-md: 20px;
$placeholder-default: 24px;
$placeholder-lg: 24px;
$placeholder-xl: 32px;
$placeholder-xxl: 32px;
