@use '../mixins/text' as text;
@use '../variables/colors' as colors;
@forward './headers.scss';

body {
  font-family:
    Inter,
    sans sherif;
  @include text.body-md;
  color: colors.$text-primary;
  padding: 0;
  margin: 0;
}

nav,
header {
  padding: 0;
  margin: 0;
}

.orisha-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: colors.get('neutral', 'grey', 950);
}
